@use "../home/variable";

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;

  &-main {
    color: variable.$white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid variable.$white;
    padding: 1.4rem 3rem;
    border-radius: 0.2rem;
    transition: all 0.2s;

    &:hover {
      color: variable.$black;
      background-color: variable.$white;
    }
  }
}
